

.test__message

  .test__message__header
    
    .test__message__header__main
      .test__message__header__main__up        
        = @group.name
      .test__message__header__main__down
        Member:
        - @group.users.each do |use|
          = use.name
           
    .test__message__header__border
      = link_to edit_group_path(@group.id), class: "header__logo__border__edit" do
        edit

  
  .test__message__contents
    = render @messages
    
        
    

 

 



  .btn
    = form_for [@group, @message] do |f|
      .test__message__contents__btn
        .test__message__contents__btn__form
          .test__message__contents__btn__form__flame
            = f.text_field :content, class: 'test__message__contents__btn__form__flame__create', placeholder:    'type a message'
            = f.label :image, class: 'test__message__contents__btn__form__flame__image' do
              = icon('fas', 'image')
              = f.file_field :image, class: 'test__message__contents__btn__form__flame__image__hidden'
          = f.submit 'Send', class: ' test__message__contents__btn__form__send'












-#  .btn
-#     = form_for [@group, @message] do |f|
-#       .test__message__contents__btn
-#         .test__message__contents__btn__form
-#           .test__message__contents__btn__form__flame
-#             = f.text_field :content, class: 'test__message__contents__btn__form__flame__create', placeholder:    'type a message'
-#             = f.label :image, class: 'test__message__contents__btn__form__flame__image' do
-#               = icon('fas', 'image', class: 'icon')
-#               = f.file_field :image, class: 'test__message__contents__btn__form__flame__image__hidden'
-#           = f.submit 'Send', class: ' test__message__contents__btn__form__send'












      