



.test
  .test__side
  
    .test__side__header
   
      .test__side__header__box
        .test__side__header__box__user
          = current_user.name
        .test__side__header_box__menu
          = link_to new_group_path, class: "test__side__header__box__menu__icon" do
            = icon('fas', 'edit')

          = link_to "", class: "test__side__header__box__menu__fab" do
            = icon('fas', 'cog')

    .test__side__contents
      - current_user.groups.each do |group|
        .test__side__contents__logo
          = link_to "", do
            .test__side__contents__logo__group
              = group.name
            .test__side__contents__logo__message
              メッセージはまだありません。

     
     
        

  























-# .side-bar
-#   .header
-#     %h3.header__name
-#       = current_user.name
-#     %ul.header__lists
-#       %li.list
-#         = link_to do
-#           = icon('fas', 'pen-square', class: 'icon')
-#       %li.list
-#         = link_to edit_user_path(current_user) do
-#           = icon('fas', 'cog', class: 'icon')



  -# .groups
  -#   .group
  -#     .group__name
  -#       グループ名
  -#     .group__message
  -#       新着メッセージ
  -#   .group
  -#     .group__name
  -#       グループ名
  -#     .group__message
  -#       新着メッセージ
  -#   .group
  -#     .group__name
  -#       グループ名
  -#     .group__message
  -#       新着メッセージ